@charset "utf-8";

/* 브라우저 리셋 */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgb(27, 27, 27);
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: top;
    border: 0;
}
/* 브라우저 리셋 */

.wrap{
    width: 100%;
    min-width: 1240px;
}

.header{
    height: 80px;
}

.headerin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
}

.logo a{
    display: block;
    background-color: bisque;
    width: 138px;
    height: 20px;
    background-image: url(../img/logo.gif);
    text-indent: -99999px;
}

.gnb{
    margin-right: 50px;
}

.gnb ul{
    display: flex;
}

.gnb li{
    margin-right: 50px;
}

.gnb li a{
    color:  rgb(27, 27, 27);
    font-size: 18px;
}
/* a태그의 글자색은 반드시 a태그에서 변경해야함 */

.gnb li a:hover{
    color: rgb(179, 0, 68);
}

.member ul{
    display: flex;
}

.member li{
    margin-left: 15px;
}

.member li a{
    color: rgb(27, 27, 27);
}

.member li a:hover{
    text-decoration: underline;
}

.member .btnSc a{
    display: block;
    width: 22px;
    height: 20px;
    background: no-repeat;
    background-image: url(../img/icon_search.png);
    text-indent: -99999px;
}

.member .btnCart a{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon_cart.png);
    text-indent: -99999px;
}

.main1{
    position: relative;
    margin-bottom: 40px;
    height: 480px;
    overflow: hidden;
    /* main1의 공간 밖의 내용을 보이지 않게 설정함 */
}

.main1Img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -800px;
}

/* 
    ※ .main1Img의 이미지 너비값이 안전사이즈보다 넓음.
    ※ 그래서 강제로 배치하기 위해서 position : absolute를 사용
    ※ .main1의 하나뿐인 자식인 .main1Img가 absolute처리가 되면
       세로 높이 값이 0으로 처리가 되므로
       .main1에서 사용할 만큼의 높이값을 강제로 입력함
    ※ 브라우저의 너비보다 더 큰 이미지 때문에 아래쪽에 스크롤이 생기므로
        이를 정리하기 위해서 .main1에 overflow : hidden;을 설정함.
    ※ 안전사이즈보다 브라우저의 크기가 작아질 경우
        .main1Img의 이미지가 잘려서 표시가 되므로
        전체 영역의 최소 너비값(min-with)을 안전사이즈의 너비로 고정함.
*/

.main2{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.main3{
    width: 1200px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}

.main3 h2{
    font-size: 23px;
    line-height: 23px;
    /*
        css를 시작할 때 body태그에 적용한 기본 줄높이가 20px임
        폰트의 기본 높이값 = 줄높이
        폰트 사이즈가 더 커지면 글자가 위, 아래의 영역과 겹쳐지므로
        줄높이도 같이 수정해야 함.
    */
    margin-bottom: 20px;
}

.main3 h2 span{
    font-weight: normal;
}

.main3 ul{
    display: flex;
    justify-content: space-between;
}

.main3 ul li{
    width: 285px;
    text-align: center;
} 

.main3 li .itemImg{
    margin-bottom: 15px;
}

.main3 li .itemImg img{
    /* width: 285px;
    height: 285px; */
    width: 100%;
    border: 1px black solid;
}

.main3 li .itemBrand{
    color: rgb(27, 27, 27);
    margin-bottom: 5px;
}

.main3 li .itemName{
    color: rgb(27, 27, 27);
    margin-bottom: 5px;
    font-weight: bold;
    /* 500 700 숫자로 써도 ㅇㅋ */
}

.main3 li .itemPrice{
    color: rgb(27, 27, 27);
    margin-bottom: 5px;
    font-weight: 700;
}

.main3 li .itemPrice span{
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}

.main3 .more{
    position: absolute;
    top: 0;
    right: 0;
}

.main3 .more a{
    padding-right: 16px;
    color: rgb(32, 32, 32);
    background-image: url(../img/icon_plus.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.main3 .more a span{
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 3px;
}

.main4{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.main4 ul{
    display: flex;
    justify-content: space-between;
}

.main4 li{
    position: relative;
}

.main4 li .m4Txt{
    position: absolute;
    top: 65px;
    left: 20px;
    color: rgb(59, 59, 59);
    font-size: 15px;
    line-height: 25px;
}

.footer{
    margin-bottom: 50px;
    border-top: 1px solid gray;
    padding-top: 30px;
}

.footer .footerIn{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.footer .fMenu ul{
    display: flex;
}

.fMenu li{
    margin-right: 10px;
    margin-bottom: 20px;
}

.fMenu a{
    color: rgb(34, 34, 34);
}

.fMenu .point a{
    color: rgb(179, 0, 68);
}

.fInfo .mar{
    margin-right: 15px;
}

.fInfo a{
    color: rgb(34, 34, 34);
}

.fInfo .bar{
    font-size: 9px;
    color: gray;
}

.kg2{
    padding-top: 50px;
    margin-bottom: 18px;
    background-image: url(../img/inicis.png);
    background-repeat: no-repeat;

}

.kg3 a{
    color: rgb(59, 59, 59);
    padding-right: 12px;
    background-image: url(../img/arrow01.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.footer .kg3 a span{
    display: inline-block;
    margin-top: 6px;
    margin-left: 4px;
    vertical-align: top;
}